/* .main__img{
	animation: fadeInBottomRight;
	animation-duration: 1s;
}

.main__title{
	animation: fadeInUp;
	animation-duration: 1s;
	animation-delay: 1s;
}
.main__description{
	animation: fadeInUp;
	animation-duration: 1s;
	animation-delay: 1.5s;
}
.main__button{
	animation: zoomIn;
	animation-duration: 1s;
	animation-delay: 2s;
	}

.about_us__title {
	animation: fadeInUp;
	animation-duration: 1s;
} */